#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  height: 85vh;
  text-align: center;
  align-items: center;
  background-image: url("https://res.cloudinary.com/ricky-ho/image/upload/v1617152074/Omomo/banner_ga9buw.jpg");
  background-repeat: "no-repeat";
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.no-bg-attachment {
  background-attachment: unset !important;
}

#about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 900px;
  background: rgba(255, 255, 255, 0.9);
}

#about-content h1 {
  color: #db9768;
  font-family: Commissioner, monospace;
}

.about-header {
  margin: 50px;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  text-shadow: white 0px 0px 1rem;
}

.about-text {
  margin: 0 80px 50px 80px;
  font-size: 1.25rem;
  font-family: Commissioner, monospace;
  font-weight: bold;
  line-height: 1.6;
  text-shadow: white 0px 0px 1rem;
}

.about-header-sm {
  margin: 30px 50px !important;
  font-size: clamp(1.5rem, 5vw, 2.25rem);
}

.about-text-sm {
  margin: 0 30px 30px 30px !important;
  font-size: clamp(1rem, 3vw, 1.25rem);
}
