@import "../../../mixins";

.checkbox__fieldset {
  @include flex(column);
  width: 100%;
}

.checkbox__option {
  @include flex(row, flex-start, center);
  cursor: pointer;
  width: 100%;

  &:not(:last-child) {
    border-bottom: 1px solid var(--lightgray);
  }

  input {
    cursor: inherit;
    margin-right: 1.25em;
    accent-color: var(--green);

    &:focus {
      outline: 2px solid var(--green);
    }
  }

  & > div {
    @include flex(row, space-between, center);
    cursor: inherit;
    width: 100%;

    label {
      cursor: inherit;
      display: inline-block;
      width: 100%;
      padding: 0.75em 0;
    }

    span {
      color: var(--gray);
    }
  }
}
