@import "../../../mixins";

#checkout-form {
  @include flex(column);
  width: 100%;
  gap: 30px;

  fieldset {
    @include flex(column);
    position: relative;
    width: 100%;
    gap: 20px;
    padding: 25px;
    border: none;
    background: white;
    box-shadow: 0 0 7px -2px var(--gray);

    legend {
      float: left;
      font-size: var(--font-sm);
      color: var(--gray);

      p + p {
        font-size: var(--font-xs);
        margin-top: 0.75em;
      }

      a {
        color: var(--brown);
      }

      span {
        margin-left: 8px;
      }
    }
  }

  .form-row {
    width: 100%;
  }
}

#card-element {
  width: 100%;
}
