@import "../../mixins";

#home {
  @include flex(column, center, center);
  width: 100%;
  text-align: center;
  font-family: var(--font-family);

  #home__hero {
    @include flex(row, center, center);
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 1080px;
    margin-top: calc(-1 * var(--header-height));
    background-image: url("https://res.cloudinary.com/ricky-ho/image/upload/v1620429065/Omomo/Home/OmomoHeroBanner_1440w_frc61f.jpg");
    background-position-x: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: hsla(0, 0%, 100%, 0.25);
  z-index: -10;
}

.hero__content {
  @include flex(column, center, flex-start);
  text-align: left;
  width: 100%;
  max-width: var(--width-max);
  padding: 0 50px;

  h1 {
    font-size: clamp(var(--font-xl), 5vw, 4rem);
    margin-bottom: 2rem;
    text-shadow: 0 0 20px white;
    max-width: 13ch;
  }

  a {
    @include link-brown;
    padding: 0 20px;
  }
}

#home__text-banner {
  @include flex(row, center, center);
  width: 100%;
  padding: 50px 0;
  background: var(--green);

  p {
    font-size: var(--font-l);
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 1px;
    margin: 0 125px;
    max-width: var(--width-max);
  }
}

#home__img-banner img {
  width: 100%;
}

#home__about {
  width: 100%;
  padding: 50px 0;

  h2 {
    margin: 50px;
    font-size: var(--font-xl);
    letter-spacing: 0.25em;
    color: black;
  }

  p {
    margin: 0 150px 50px 150px;
    font-size: var(--font-m);
    font-weight: bold;
    line-height: 2;
  }
}

#home__menu-link {
  @include flex(column, center, center);
  width: 100%;
  height: 30vh;

  h2 {
    font-size: clamp(1rem, 5vw, var(--font-l));
    letter-spacing: 3px;
    margin-bottom: 25px;
    color: black;
  }

  a {
    @include link-brown;
  }
}

#home__gallery {
  @include flex(column, center, center);
  width: 100%;

  .gallery-item {
    width: 100%;
    max-width: 350px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    img {
      width: 100%;
    }
  }
}

/********************************************/

@media screen and (max-width: 960px) {
  #home__text-banner p {
    font-size: clamp(var(--font-sm), 3vw, var(--font-m));
    margin: 0 50px;
  }

  #home__about {
    h2 {
      margin: 30px 50px;
      font-size: clamp(var(--font-m), 5vw, var(--font-l));
    }

    p {
      margin: 0 50px;
      font-size: clamp(var(--font-sm), 3vw, 1rem);
    }
  }
}

@media screen and (max-width: 480px) {
  #home #home__hero {
    background-image: url("https://res.cloudinary.com/ricky-ho/image/upload/q_80/v1620429065/Omomo/Home/OmomoHeroBanner_1080w_rgxbsz.jpg");
    background-position-x: 35%;
  }

  .overlay {
    background: hsla(0, 0%, 100%, 0.35);
  }

  .hero__content h1 {
    font-size: var(--font-l);
  }

  .gallery-item {
    padding: 0 50px;
    margin-bottom: 25px;
  }
}
