@mixin flex($direction, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin links {
  @include flex(row, center, center);
  text-decoration: none;
  min-width: 150px;
  height: 50px;
}

@mixin link-brown {
  @include links;
  background: var(--brown);
  color: white;
  font-weight: bold;
  letter-spacing: 1px;

  &:hover,
  &:focus {
    background: var(--darkbrown);
  }
}

@mixin spin-animation {
  animation-name: rotation;
  animation-duration: 1.25s;
  animation-timing-function: cubic-bezier(0.67, 0.3, 0.44, 0.84);
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
