@mixin flex($direction, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin links {
  @include flex(row, center, center);
  text-decoration: none;
  min-width: 150px;
  height: 50px;
}

@mixin link-brown {
  @include links;
  background: var(--brown);
  color: white;
  font-weight: bold;
  letter-spacing: 1px;

  &:hover,
  &:focus {
    background: var(--green);
  }
}
