@import url("https://fonts.googleapis.com/css2?family=Commissioner&family=Cuprum&display=swap");

/* :root {
  --color-primary: #000;
  --color-secondary: #
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.font-brown {
  color: #db9768;
}

.comm-text {
  font-family: Commissioner, monospace;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  margin: 0 15px;
  width: 150px;
  height: 50px;
}

.link-black {
  color: #000;
  border: 1px solid #d6d6d6;
  background: rgba(255, 255, 255, 0.5);
}

.link-black:hover {
  background: #000;
  color: #fff;
}

.link-brown {
  background: #db9768;
  color: #fff;
  border: 1px solid #ca7d45;
}

.link-brown:hover {
  background: #596c5a;
  border: 1px solid #485849;
}
