@import url("https://fonts.googleapis.com/css2?family=Commissioner&display=swap");

:root {
  --color-primary: rgb(0, 0, 0);
  --color-secondary: rgb(255, 255, 255);
  --color-3: rgb(219, 151, 104);
  --color-4: rgb(95, 117, 97);
  --font-primary: Commissioner;
  --size-xlarge: 3rem;
  --size-Large: 2.5rem;
  --size-large: 2rem;
  --size-Medium: 1.75rem;
  --size-medium: 1.5rem;
  --size-Small: 1.25rem;
  --size-small: 1rem;
  --size-smaller: 0.9rem;
  --size-xsmall: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: var(--font-xsmall);
  margin: 0 15px;
  width: 150px;
  height: 50px;
}

.link-black {
  color: var(--color-primary);
  border: 1px solid #d6d6d6;
  background: var(--color-secondary);
}

.link-black:hover {
  background: var(--color-primary);
  color: var(--color-secondary);
}

.link-brown {
  background: var(--color-3);
  color: var(--color-secondary);
  border: 1px solid #ca7d45;
}

.link-brown:hover {
  background: var(--color-4);
  border: 1px solid #485849;
}

/**************************************/
.visible-enter {
  opacity: 0.5;
}

.visible-enter-active {
  opacity: 1;
  transition: opacity 0.2s linear;
}

.visible-exit {
  opacity: 0.5;
}

.visible-exit-active {
  opacity: 0;
  transition: opacity 0.2s linear;
}
