@import url("https://fonts.googleapis.com/css2?family=Commissioner&display=swap");
@import "./mixins";

:root {
  --brown: hsl(25, 72%, 58%);
  --green: hsl(125, 10%, 42%);
  --dark-green: hsl(124, 10%, 31%);
  --red: hsl(0, 97%, 46%);
  --font-family: Commissioner, sans-serif;
  --font-xxl: 3rem;
  --font-xl: 2.5rem;
  --font-l: 2rem;
  --font-m: 1.5rem;
  --font-sm: 0.9rem;
  --font-xs: 0.75rem;
  --header-height: 100px;
  --width-max: 1440px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
a {
  cursor: pointer;
}

.App {
  @include flex(column, flex-start, center);
}

.link {
  @include links;
}

.link-brown {
  @include link-brown;
}
