.menu-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 225px;
  margin: 0 15px;
  outline: none;
}

.menu-item--sm {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-bottom: 35px;
  outline: none;
}

.menu-item img,
.menu-item--sm img {
  width: 100%;
}

.menu-item img:hover,
.menu-item--sm img:hover {
  cursor: pointer;
  opacity: 0.6;
}

.menu-item-description {
  font-family: var(--font-primary), monospace;
  font-size: var(--font-small);
  text-align: center;
}

.menu-item-name {
  padding: 5px;
}

.menu-item-price {
  color: var(--color-3);
}
