@import "../../mixins";

#checkout {
  @include flex(column, flex-start, center);
  width: 100%;
  min-height: calc(100vh - var(--header-height));
}

.checkout__content {
  @include flex(row);
  width: 100%;
}

.checkout__summary {
  width: 50%;
}
