@import "../../mixins";

.modal__form {
  @include flex(column);
  gap: 40px;
  padding: var(--modal-padding);

  fieldset {
    border: none;

    & > label,
    & > legend {
      color: var(--black);
      font-weight: bold;
      margin-bottom: 0.75em;

      &:after {
        content: ": ";
      }
    }
  }
}
