@import "../../mixins";

.card {
  @include flex(row);
  width: 100%;

  &:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(218, 218, 218);
  }

  &:not(:first-child) {
    padding-top: 20px;
  }

  .card__image {
    margin-right: 20px;

    img {
      min-width: 100px;
      max-width: 100px;
    }
  }
}

.card__details {
  @include flex(column, space-between, space-between);
  width: 100%;
}

.details__header {
  @include flex(row, space-between, center);
  width: 100%;
  gap: 2em;
  margin-bottom: 1em;

  h3 {
    width: 100%;
    font-size: clamp(1rem, 2vw, var(--font-rm));
  }

  :nth-child(2) {
    @include flex(row, flex-end, center);
    width: 50%;
    text-align: right;
  }

  .item__edit,
  .item__remove {
    cursor: pointer;
    width: fit-content;
    border: none;
    background: inherit;
    font-size: var(--font-xs);
  }

  .item__edit {
    text-decoration: underline;
  }

  .item__remove {
    margin-left: 1em;

    &:hover,
    &:focus {
      color: var(--red);
    }
  }
}

.details__footer {
  @include flex(row, flex-end);
  width: 100%;
  margin-top: 1.5em;

  span {
    font-weight: bold;
    font-size: clamp(1rem, 2vw, var(--font-rm));
  }

  :nth-child(2) {
    letter-spacing: 1px;
    margin-left: 0.5em;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 550px) {
  .card__image {
    display: none;
  }
}
