@import "../../mixins";

#menu {
  @include flex(row, center);
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  font-family: var(--font-family);
  padding: 0 50px;
}

.menu-container {
  @include flex(column, flex-start, flex-start);
  gap: 75px;
  width: 100%;
  max-width: var(--width-max);
  height: 100%;
  margin: 50px 0px 150px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  .menu-container {
    gap: 100px;
  }
}

@media screen and (max-width: 480px) {
  #menu {
    padding: 0 25px;
  }
}
