@import "../../../mixins";

.checkout__summary {
  @include flex(column);
  width: 75%;
  max-width: 450px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 2px 0 var(--lightgray);

  h2 {
    width: 100%;
    padding: 25px 25px 0 25px;
    margin-bottom: 1.5em;
    font-size: var(--font-sm);
    font-weight: normal;
    color: var(--gray);

    span + span {
      margin-left: 0.5em;
    }
  }
}

.checkout__summary-items {
  @include flex(column);
  width: 100%;
  gap: 1em;
  padding: 0px 25px;
  max-height: 300px;
  overflow-y: auto;
}

.checkout__summary-totals {
  width: 100%;
  padding: 25px;
  margin-top: 1.5em;
  border-top: 1px solid var(--lightgray);

  & > div {
    @include flex(row, space-between);
    margin-bottom: 1em;
    font-weight: bold;
  }

  button {
    width: 100%;
    padding: 1em;
    margin-top: 1em;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    color: white;
    background: black;

    &:disabled {
      cursor: default;
      opacity: 0.85;
    }

    .submit-text + .submit-text {
      margin-left: 0.75em;
    }

    .submit-loader {
      display: none;
      margin-left: 0.75em;
    }
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 960px) {
  .checkout__summary {
    max-width: unset;
    width: 100%;
  }
}
