#home {
  display: flex-col;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  text-align: center;
}

.home-banner {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: -100px;
  background-image: url("https://res.cloudinary.com/ricky-ho/image/upload/v1618608401/Omomo/OmomoHeroBanner_tidbjw.jpg");
  background-position: 25%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 60%);
  z-index: -1;
}

.home-banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin-left: 3rem;
  font-family: Commissioner, monospace;
  width: 375px;
}

.home-banner-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-banner-content .link {
  margin: 0;
  width: 175px;
}

#home-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 1px;
  font-family: Commissioner, monospace;
  color: #fff;
  background: #596c5a;
}

.home-text-m {
  max-width: 1400px;
  font-size: 2rem;
  padding: 50px 0;
  margin: 0 125px;
}

.home-text-sm {
  font-size: clamp(1rem, 3vw, 1.5rem);
  padding: 25px 0;
  margin: 0 50px;
}

#gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

#gallery {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.gallery-item {
  width: 100%;
  max-width: 350px;
  margin-bottom: 25px;
}

.gallery-item img {
  width: 100%;
}

#menu-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
  margin-bottom: 100px;
  font-family: Cuprum, sans-serif;
  color: #db9768;
}

#menu-link-container h2 {
  max-width: 1400px;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  letter-spacing: 3px;
  margin-bottom: 25px;
}

#menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 20px;
  width: 150px;
  height: 50px;
  color: #000;
  border: 1px solid #d6d6d6;
}

#menu-link:hover {
  background: #000;
  color: #fff;
}

/********************************************/

@media screen and (max-width: 480px) {
  .home-banner {
    margin-top: -75px;
    justify-content: center;
    align-items: center;
  }

  .home-banner-content {
    margin: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .home-banner-content h1 {
    font-size: 1.75rem;
  }
}
