#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-family: var(--font-primary), monospace;
}

.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  margin-top: -100px;
  background-image: url("https://res.cloudinary.com/ricky-ho/image/upload/v1620429065/Omomo/Home/OmomoHeroBanner_1440w_frc61f.jpg");
  background-position-x: 25%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 40%);
  z-index: -100;
}

.home-banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
}

.home-banner-content h1 {
  font-size: clamp(var(--size-xlarge), 5vw, 4rem);
  margin-bottom: 2rem;
  text-shadow: 0 0 10px #fff;
  max-width: 13ch;
}

.home-banner-content .link {
  margin: 0;
  width: 175px;
}

#home-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 50px 0;
  color: rgb(255, 255, 255);
  background: var(--color-4);
}

.home-text-m {
  max-width: 1440px;
  font-size: var(--size-large);
  margin: 0 125px;
}

.home-text-sm {
  font-size: clamp(var(--size-small), 3vw, var(--size-medium));
  margin: 0 50px;
}

#home-banner2,
#home-banner2 img {
  width: 100%;
}

#home-about {
  width: 100%;
  padding: 25px 0;
}

.about-header {
  margin: 50px;
  font-size: var(--size-Large);
  letter-spacing: 0.3rem;
  color: var(--color-3);
}

.about-text {
  margin: 0 150px 50px 150px;
  font-size: var(--size-Medium);
  font-weight: bold;
  line-height: 2;
}

.about-header-sm {
  margin: 30px 50px !important;
  font-size: clamp(var(--size-medium), 5vw, var(--size-Large));
}

.about-text-sm {
  margin: 0 50px 0 50px !important;
  font-size: clamp(var(--size-small), 3vw, var(--size-Small));
}

#menu-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
  margin-bottom: 100px;
}

#menu-link-container h3 {
  font-size: clamp(var(--size-medium), 5vw, var(--size-Large));
  letter-spacing: 3px;
  margin-bottom: 25px;
  color: var(--color-1);
}

/********************************************/

@media screen and (max-width: 480px) {
  .home-banner {
    justify-content: center;
    align-items: center;
    background-image: url("https://res.cloudinary.com/ricky-ho/image/upload/q_80/v1620429065/Omomo/Home/OmomoHeroBanner_1080w_rgxbsz.jpg");
    background-position: center;
  }

  .overlay {
    background: rgba(255, 255, 255, 50%);
  }

  .home-banner-content {
    margin: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .home-banner-content h1 {
    font-size: var(--size-Medium);
  }

  #home-about {
    padding: 0;
  }
}
