.cart-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  font-family: var(--font-primary), monospace;
  background: rgba(50, 50, 50, 0.5);
}

.cart {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: clamp(450px, 50%, 500px);
  padding: 20px 20px 0 20px;
  background: rgb(255, 255, 255);
  z-index: 250;
  overflow-x: hidden;
}

.cart-sm {
  width: 100%;
}

#cart-header {
  display: flex;
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

#cart-header h2 {
  font-size: var(--size-Small);
}

#cart-actions {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
  padding: 5px 0 10px 0;
  background: inherit;
  border-top: 1px solid;
}

#cart-actions > div {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 10px 0;
}

#cart-actions h3 + p {
  font-size: var(--size-Small);
}

#cart-checkout {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  font-size: var(--size-Small);
  font-weight: bold;
  border: none;
  outline: none;
  background: var(--color-4);
}

#cart-checkout:hover {
  color: rgb(255, 255, 255);
  background: rgb(98, 133, 100);
}

#continue-shopping {
  border: none;
  outline: none;
  background: inherit;
  font-size: var(--size-small);
}

#continue-shopping:hover {
  color: rgb(117, 117, 117);
}

.close-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
}

.close-btn:hover {
  color: rgb(197, 0, 0);
}
