#toggle-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 25px;
  width: 50%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  background: #7ca17f;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

#toggle-cart:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: var(--color-4);
}

#toggle-cart p {
  font-size: var(--size-Small);
  font-weight: bold;
  letter-spacing: 2px;
}

#toggle-cart span {
  letter-spacing: 0;
}
