#toggle-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 65px;
  height: 65px;
  outline: none;
  border: none;
  border-radius: 50%;
  color: #000;
  background: #85ad88;
  box-shadow: inset -3px -3px 10px 0 #638665, 5px 5px 15px 0 rgba(0, 0, 0, 0.5);
}

#toggle-cart:hover {
  transform: scale(1.05);
  background: #608162;
}

.fa-shopping-cart {
  position: relative;
}

.quantity-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  right: 10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 0.65rem;
  color: #000;
  background: #fff;
}
