#modal-form {
  width: 100%;
  padding: 0 20px 20px 20px;
}

.form-group {
  margin: 35px 0;
}

#quantity-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.limit-notice {
  margin-left: 20px;
  color: #f00;
  overflow: hidden;
}
