@import "../../mixins";

#cart {
  @include flex(column, flex-start, center);
  width: 100%;
  padding: 0 50px;
  font-family: var(--font-family);
  min-height: calc(50vh - var(--header-height));
}

.cart__wrapper {
  @include flex(column);
  width: 100%;
  max-width: var(--width-max);
  margin: 50px 0 100px;

  h1 {
    width: 100%;
    font-size: var(--font-xl);
    letter-spacing: 3px;
  }
}

.cart__inner {
  @include flex(row, space-between);
  width: 100%;
  gap: 75px;
  margin-top: 35px;
}

.cart__list {
  width: 100%;

  h1 {
    margin-bottom: 1em;
  }
}

.cart__items {
  padding: 20px;
  border: 1px solid var(--lightgray);
}

.cart__summary {
  --spacing: 10px;

  width: 500px;

  & > div {
    @include flex(row, space-between);
    padding: var(--spacing) 0;
    border-bottom: 1px solid var(--lightgray);
  }

  h2 {
    font-size: var(--font-m);
    margin-bottom: var(--spacing);
  }

  form {
    width: 100%;
    padding: calc(var(--spacing) * 2.5) 0;
  }

  button {
    width: 100%;
    padding: 10px 0;
    font-size: var(--font-m);
    border: none;
    color: white;
    background: black;

    &:disabled {
      display: none;
    }
  }
}

.cart__empty {
  h2 {
    font-weight: normal;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 960px) {
  .cart__wrapper h1 {
    font-size: var(--font-l);
  }

  .cart__inner {
    flex-direction: column;
  }

  .cart__summary {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  #cart {
    padding: 0 25px;
  }
}
