@import "../../mixins";

header {
  @include flex(row, center, center);
  width: 100%;
  font-family: var(--font-family);
  padding: 0 50px;
  z-index: 100;
}

#navbar {
  @include flex(row, space-between, center);
  width: 100%;
  max-width: var(--width-max);
  height: var(--header-height);

  img {
    width: 40px;
    height: 40px;
  }
}

#nav-content__wrapper {
  @include flex(row, flex-end, center);

  ul {
    display: flex;
    list-style: none;

    & > :last-child {
      @include flex(row, flex-start, center);
    }
  }
}

.navlink {
  @include link-brown;
  margin-right: 35px;
}

.navlink__cart {
  cursor: pointer;
  position: relative;
  display: flex;
  color: black;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  span {
    @include flex(row, center, center);
    position: absolute;
    top: -0.6em;
    right: -0.5em;
    padding: 3px;
    border-radius: 45%;
    font-size: var(--font-xs);
    color: white;
    background: var(--red);
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 960px) {
  #nav-content__wrapper {
    flex-direction: row-reverse;

    & > ul {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 0 20px;
  }
}
