@import "../../mixins";

header {
  @include flex(row, center, center);
  width: 100%;
  z-index: 100;
}

#navbar {
  @include flex(row, space-between, center);
  width: 100%;
  max-width: var(--width-max);
  height: var(--header-height);

  & > a {
    margin-left: 50px;
  }

  img {
    width: 40px;
    height: 40px;
  }

  ul {
    display: flex;
    font-family: var(--font-family);
    list-style: none;
    margin-right: 50px;

    & > :last-child {
      @include flex(row, flex-start, center);
    }
  }
}

.navlink {
  @include link-brown;
  margin-right: 35px;
}

.navlink__cart {
  cursor: pointer;
  position: relative;
  display: flex;
  width: 50px;
  color: black;

  &:hover,
  &:focus {
    opacity: 0.65;
  }

  span {
    @include flex(row, center, center);
    position: absolute;
    top: -0.7em;
    right: 0.5em;
    padding: 3px;
    border-radius: 50%;
    font-size: var(--font-sm);
    color: white;
    background: var(--red);
  }
}

@media screen and (max-width: 480px) {
  #navbar {
    & > :first-child {
      margin-left: 25px;
    }

    & > :last-child {
      margin-right: 25px;
    }
  }
}
