@import "../../../mixins";

.menu-item {
  @include flex(column);
  width: 100%;
  max-width: 225px;

  img {
    width: 100%;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.menu-item__info {
  width: 100%;
  font-family: var(--font-family);
  font-size: var(--font-sm);
  text-align: center;

  & > * {
    letter-spacing: 1px;
    font-size: 1rem;
    margin-top: 15px;
  }
}

.item__price {
  font-weight: bold;
  color: var(--brown);
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  .menu-item__info > * {
    margin-top: 10px;
  }
}
