#product-options ul {
  list-style: none;
}

#product-options li {
  display: flex;
}

#product-options li p {
  font-size: var(--size-smaller);
}

#product-options .label {
  color: rgb(0, 0, 0);
  width: 125px;
}

#product-options .price {
  color:   rgb(225, 134, 69);

}

@media screen and (max-width: 480px) {

  #product-options li {
  justify-content: space-between;
  max-width: 200px;
}
  #product-options {
    padding-bottom: 10px;
  }

  #product-options .label {
    width: auto;
  }

  #product-options .price {
    margin-left: 0.5rem;
  }
}
