#product-options ul {
  list-style: none;
}

#product-options li {
  display: flex;
  flex-direction: row;
}

#product-options li p {
  font-size: var(--size-smaller);
}

#product-options .label {
  color: rgb(0, 0, 0);
  width: 125px;
}

#product-options .price {
  color: var(--color-3);
}

@media screen and (max-width: 480px) {
  #product-options {
    padding-bottom: 10px;
  }

  #product-options .label {
    width: auto;
  }

  #product-options .price {
    margin-left: 0.5rem;
  }
}
