#product-options ul {
  list-style: none;
}

#product-options li {
  display: flex;
  flex-direction: row;
}

#product-options li p {
  font-size: 0.9rem;
}

#product-options .label {
  color: #000;
  width: 125px;
}

#product-options .price {
  color: #db9768;
}

@media screen and (max-width: 480px) {
  #product-options {
    padding-bottom: 10px;
  }

  #product-options .label {
    width: auto;
  }

  #product-options .price {
    margin-left: 0.5rem;
  }
}
